<div layout="column" layout-align="center center" class="background">
	<md-card class="login" style="min-width:18%">
		<md-card-content>
			<div layout="row" layout-align="center center">
				<img src="images/logo.jpg"  style="border-radius:4px"/>
			</div>
			<h1 class="docs-logotype md-heading ng-isolate-scope">Know Your Friend</h1>
			<div layout="row" layout-align="center center">
				<md-button class="md-primary md-raised fb-btn" ng-click="login()">
					<md-icon md-font-icon="fa fa-2x fa-facebook-official" aria-hidden="true"></md-icon>
					Continue With Facebook
				</md-button>
			</div>
		</md-card-content>
	</md-card>
</div>