<md-dialog aria-label="OverView">
	<form ng-cloak>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>Welcome</h2>
			</div>
		</md-toolbar>

    <md-dialog-content>
		<div class="md-dialog-content">
			<p>
				The agenda of the app is to create strong relation between your friends & relatives in a healthy competition.
			</p>
			<p>
				You have to minimum answer 15 questions from the list related to you. Then bet your friends and if they manage to guess more than 7 correct answers they win and if don't then you win.
			</p>
			<p>
				What are you waiting for lets begin !!!
			</p>
		</div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
		<span flex></span>
		<md-button ng-click="close()">Close</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>